:root {
  --primary-color: rgb(1, 22, 56);
  --primary-accent: rgb(54, 65, 86);
  --secondary-color: rgb(205, 205, 205);
  --secondary-accent: rgb(223, 248, 235);
  --heading-font: "Montserrat", sans-serif;
  --body-font: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: var(--body-font);
  @media (min-width: 500px) {
    background-color: rgba(0, 0, 0, 0.676);
  }
}

main {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
}

.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  z-index: 1001;
  translate: -350px 0;
  visibility: hidden;
  transition:
    translate 0.5s ease-in-out,
    visibility 0.5s ease-in-out;
  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    li {
      list-style: none;
      width: 90%;
      padding: 0;
      border-bottom: 1px solid var(--secondary-color);
      a {
        text-decoration: none;
        font-size: 1.2rem;
        color: var(--secondary-accent);
        &:hover {
          font-weight: bold;
        }
      }
    }
  }
  footer {
    color: var(--secondary-accent);
    .personal-info {
      margin: 1.5rem 0;
      & p {
        margin-bottom: 1rem;
      }
    }
    .social-media {
      display: flex;
      justify-content: center;
      gap: 2rem;
    }
  }
  .sb-content {
    margin: 1rem;
  }
}

.side-bar.show {
  translate: 0 0;
  visibility: visible;
}

.ham-btn {
  display: block;
  align-self: start;
  margin: 1rem;
  width: 48px;
  height: 48px;
  z-index: 1001;
  border: none;
  background-color: transparent;
  color: initial;
  transition:
    translate 0.5s ease-in-out,
    color 0.5s ease-in-out,
    background-color 0.5s ease-in-out,
    border-radius 0.5s ease-in-out;

  @media (min-width: 500px) {
    color: var(--primary-color);
    background-color: rgb(223 248 235 / 80%);
    border-radius: 10px;
    width: 35px;
    height: 35px;
  }
}

.ham-btn.show {
  color: var(--secondary-accent);
  translate: 287px 0;
  @media (min-width: 500px) {
    background-color: transparent;
    border-radius: 0;
  }
  @media (min-width: 1120px) {
    position: fixed;
    left: 0;
  }
}

.ham-btn::before {
  content: "\2630";
  font-size: 2.5rem;
  @media (min-width: 500px) {
    font-size: 1.7rem;
  }
}

button {
  background-color: white;
}

.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  .hero-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    margin-top: 25%;
    h1 {
      font-family: var(--heading-font);
      text-align: center;
      font-size: 2.5rem;

      @media (min-width: 500px) {
        color: var(--primary-color);
        background-color: rgb(223 248 235 / 50%);
        padding: 1rem;
        border-radius: 25px;
        font-size: 1.7rem;
      }
    }
    .main-btn {
      display: flex;
      gap: 2rem;
      button {
        width: 125px;
        height: 30px;
        border-radius: 10px;
        border: none;
        cursor: pointer;

        &:hover {
          font-weight: bold;
          background-color: var(--secondary-accent);
        }
      }
    }
    form {
      margin-top: 1rem;
      input {
        width: 250px;
        height: 40px;
        border-radius: 100px;
        padding-left: 1rem;
      }
    }
    @media (min-width: 500px) {
      margin-top: 15%;
    }
  }
}
