body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.side-bar {
  display: none;
}

.side-bar.show {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: aqua;
  z-index: 1000;
  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    li {
      list-style: none;
      margin-left: -2rem;
      padding: 0;
      border-bottom: 1px solid black;
      a {
        text-decoration: none;
        font-size: 1.2rem;
        &:hover {
          font-weight: bold;
        }
      }
    }
  }
  .sb-content {
    margin: 1rem;
  }
}

.ham-btn {
  display: block;
  width: 48px;
  height: 48px;
  z-index: 1001;
}

button {
  background-color: white;
}

.hero {
  position: absolute;
  top: 0;
  left: 0;
  .hero-img {
    width: 100%;
    height: auto;
    z-index: 0;
  }
  .main-content {
    position: absolute;
    top: 11.3rem;
    left: 8rem;
    h1 {
      text-align: center;
      font-size: 3rem;
    }
    .main-btn {
      display: flex;
      justify-content: space-evenly;
      button {
        width: 125px;
        height: 30px;
        border-radius: 10px;
        border: none;
        cursor: pointer;

        &:hover {
          font-weight: bold;
          background-color: lightgoldenrodyellow;
        }
      }
      form {
        margin: 1rem;
        input {
          width: 250px;
          height: 30px;
          border-radius: 100px;
        }
      }
    }
  }
}
